:root {
    --color-one: #80ED99;
    --color-two: #57CC99;
    --color-three: #38A3A5;
    --color-four: #22577A;
  
  }

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
body {
    background-color: #ffffff;
}
#nav {
    position: fixed;
    width: 100%;
    background-color: #FBF3F3 !important;
    z-index: 5;
    height: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-family: 'Roboto Slab', serif;
}

#nav a {
    margin-left: 20%;
    font-weight: bold;
    font-size: 3em;
    letter-spacing: .2rem;
}

.navlists {
    display: flex;
    margin-right: 10%;
}

.navlists p{
    margin: 20px;
    font-size: 1.5em;
}

#navcontent {
    height: 100vh;
    width: 100%;
    background-color: #FBF3F3;
    display: flex;
    align-items: center;
}

#navflex {
    display: flex;
    align-items: center;
    margin-bottom: 200px;
}

#logoholder {
    margin-left: 100px;
}

#logoholder img {
    height: auto;
    width: 90%;
}

#navtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    height: auto;
    font-size: 3em;
    margin-right: 40px;
}

.navbottomimage {
    width: 100%;
    height: 40%;
    left: 0;
    position: absolute;
    /* SVG AND ANIMATIONS animation: wave linear 40s infinite; */
    bottom: 0;
    z-index: 0;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.aboutheader {

}

.aboutheader h1 {
    font-weight: bold;
    font-size: 6em;
}

.abouttext {
    margin-top: 10px;
    max-width: 80%;
}

.abouttext p {
    font-size: 2em;
}

.services {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.services h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 5em;
    border-bottom: 4px solid #57CC99;
    padding-bottom: 5px;
}

.maincontent {
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 70px;
    border-radius: 20px;
    /* border-color: orange;
    border-style: solid; */

}

.textcontent {
    display: flex;
    flex-direction: column;
    justify-self: start;
    width: auto;
    height: auto;
}

#innercontent {
    overflow: hidden;
    height: auto;
    width: auto;
    background-color: #38A3A5;
    color: whitesmoke;
}

.innercontent2 {
    background-color: whitesmoke !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}



#innercontent h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    text-align: center;
    font-size: 3em;
    padding: 20px;
}

#innercontent h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    text-align: center;
    font-size: 3em;
}


.contentimage {
    background-color: #464660;
    display: flex;
    justify-content: center;
}
.contentimage img {
    width: auto;
    height: 60%;
}

.stickyimage {
    position: sticky;
    bottom: 0%;
    align-self: flex-start; /* <-- this is the fix */
  }

.first h2{ 
    margin-top: 20px;
    color: whitesmoke !important;
}
.first p {
    margin-top: 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    text-align: left;
    padding: 20px;
}

.second {
    color: #464660 !important;
}

.second h2 {
    color: #464660;
    font-size: 1em !important;
}

.second p {
    font-size: 2em !important;
    font-weight: bold;
    margin-left: 2%;
}

.third p {
    font-size: 2em !important;
    font-weight: bold;
    margin-left: 2%;
}


.third h2  {
    color: whitesmoke !important;
    font-size: 1.5em !important;
}

.fourth {
    color: #464660 !important;
}

.fourth h2 {
    color: #464660 !important;
    font-size: 2.5em !important;
    padding: 20px;
}

.fifth h2{
    color: whitesmoke !important;
    font-size: 2.5em !important;
    padding: 20px;
}

.reviews {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin-top: 70px;
    margin-left: 30px;
    margin-right: 30px;
}

.reviewcards {
    height: auto !important;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.reviewcards p {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #84879C;
}

.reviewcards h2 {
    display: flex;
    justify-content: flex-end;
    color: #2E3647;
    font-style: italic;
    margin: auto;
}

.testimonals {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.testimonals h1 {  
    font-family: 'Roboto Slab', serif;
    font-size: 5em;
    font-weight: bold;
    border-bottom: 5px solid #57CC99;
    padding-bottom: 5px;
}