:root {
    --color-one: #80ED99;
    --color-two: #57CC99;
    --color-three: #38A3A5;
    --color-four: #22577A;
  
  }

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

#nav {
    position: fixed;
    width: 100%;
    background-color: pink !important;
    z-index: 5;
}

#navcontent {
    height: 100vh;
    background-color: #fefffc;
    overflow: hidden;
    display: flex;
    flex-direction: column;   
    justify-content: center;
}

#navflex {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 4em;
    z-index: 2;
}

#logoholder img{
 /* background-color: var(--color-three); */
}

#navtext {
    margin-left: 3em;
    font-size: 4em;
    font-family: 'Oswald', sans-serif;
    width: auto;
    height: auto;
    text-align: center;
}

#navtext p {
    
    width: auto;
}


.maincontent {
    display: flex;
    justify-content: center;
    overflow: hidden;
    /* border-color: orange;
    border-style: solid; */

}

.textcontent {
    display: flex;
    flex-direction: column;
    justify-self: start;
    width: auto;
    height: auto;
}

#innercontent {
    overflow: hidden;
    min-height: 500px;
    width: auto;
    background-color: #38A3A5;
    color: whitesmoke;
}

.innercontent2 {
    background-color: whitesmoke !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

#innercontent h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    text-align: center;
    font-size: 3em;
}

#innercontent h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    text-align: center;
    font-size: 3em;
}


.contentimage {
    background-color: #464660;
    display: flex;
    justify-content: center;
}
.contentimage img {
    width: auto;
    height: 60%;
}

.stickyimage {
    position: sticky;
    bottom: 0%;
    align-self: flex-start; /* <-- this is the fix */
  }

.first h1 {
    background-color: #464660 !important;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.first h2{ 
    margin-top: 20px;
    color: whitesmoke !important;
}
.first p {
    margin-top: 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
}

.second {
    color: #464660 !important;
}

.second h2 {
    color: #464660;
    font-size: 1em !important;
}

.second p {
    font-size: 2em !important;
    font-weight: bold;
    margin-left: 2%;
}